In [1]:
# Import Statements
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sn
import math

In [2]:
# Hurricane Dataset
hurricaneFilePath = "data/hurdat2.csv"
hurricane_df = pd.read_csv(hurricaneFilePath)

# Vessel Dataset
vesselFilePath = "data/sep23_ais.csv"
vessel_df = pd.read_csv(vesselFilePath)

/var/folders/bf/zbss70kn2fq_0xbjk976nwx80000gn/T/ipykernel_79196/2680656960.py:3: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  hurricane_df = pd.read_csv(hurricaneFilePath)

In [3]:
print(hurricane_df.columns)
print(hurricane_df.dtypes)
hurricane_df.head(10)

Index(['Unnamed: 0', 'Year', 'Time', 'Storm Name/Record Identifier',
       'Number of Entries/Status', 'Latitude', 'Longitude',
       'Maximum Sustained Wind', 'Minimum Pressure', '34-knot Wind Radii NE',
       '34-knot Wind Radii SE', '34-knot Wind Radii SW',
       '34-knot Wind Radii NW', '50-knot Wind Radii NE',
       '50-knot Wind Radii SE', '50-knot Wind Radii SW',
       '50-knot Wind Radii NW', '64-knot Wind Radii NE',
       '64-knot Wind Radii SE', '64-knot Wind Radii SW',
       '64-knot Wind Radii NW'],
      dtype='object')
Unnamed: 0                        int64
Year                             object
Time                             object
Storm Name/Record Identifier     object
Number of Entries/Status         object
Latitude                         object
Longitude                        object
Maximum Sustained Wind          float64
Minimum Pressure                float64
34-knot Wind Radii NE           float64
34-knot Wind Radii SE           float64
34-knot Wind Radii SW           float64
34-knot Wind Radii NW           float64
50-knot Wind Radii NE           float64
50-knot Wind Radii SE           float64
50-knot Wind Radii SW           float64
50-knot Wind Radii NW           float64
64-knot Wind Radii NE           float64
64-knot Wind Radii SE            object
64-knot Wind Radii SW            object
64-knot Wind Radii NW           float64
dtype: object

,Unnamed: 0,Year,Time,Storm Name/Record Identifier,Number of Entries/Status,Latitude,Longitude,Maximum Sustained Wind,Minimum Pressure,34-knot Wind Radii NE,...,34-knot Wind Radii SW,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL011851,UNNAMED,14.0
1,1,1851-06-25,0000,,HU,28.0N,94.8W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,2,1851-06-25,0600,,HU,28.0N,95.4W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,3,1851-06-25,1200,,HU,28.0N,96.0W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,4,1851-06-25,1800,,HU,28.1N,96.5W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
5,5,1851-06-25,2100,L,HU,28.2N,96.8W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
6,6,1851-06-26,0000,,HU,28.2N,97.0W,70.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
7,7,1851-06-26,0600,,TS,28.3N,97.6W,60.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8,8,1851-06-26,1200,,TS,28.4N,98.3W,60.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9,9,1851-06-26,1800,,TS,28.6N,98.9W,50.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [4]:
hurricane_df.describe()

,Unnamed: 0,Maximum Sustained Wind,Minimum Pressure,34-knot Wind Radii NE,34-knot Wind Radii SE,34-knot Wind Radii SW,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii NW
count,56722.000000,54749.000000,54749.000000,54749.000000,54749.000000,54749.000000,54749.000000,54749.000000,54749.000000,54749.000000,54749.000000,54749.000000,54750.000000
mean,28360.500000,52.470584,-133.267000,-782.698278,-784.115016,-789.422327,-786.961095,-794.468082,-794.809549,-796.167839,-795.499059,-797.678369,-797.994868
std,16374.375321,25.015304,987.283871,434.500781,431.598368,420.627614,425.643604,409.529994,408.850842,406.006926,407.389164,402.797846,402.128171
min,0.000000,-99.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
25%,14180.250000,35.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
50%,28360.500000,45.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
75%,42540.750000,70.000000,995.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
max,56721.000000,165.000000,1024.000000,780.000000,720.000000,660.000000,600.000000,360.000000,300.000000,360.000000,390.000000,180.000000,300.000000

In [5]:
hurricane_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56722 entries, 0 to 56721
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    56722 non-null  int64
 1   Year                          56721 non-null  object
 2   Time                          56721 non-null  object
 3   Storm Name/Record Identifier  56721 non-null  object
 4   Number of Entries/Status      54749 non-null  object
 5   Latitude                      54749 non-null  object
 6   Longitude                     54749 non-null  object
 7   Maximum Sustained Wind        54749 non-null  float64
 8   Minimum Pressure              54749 non-null  float64
 9   34-knot Wind Radii NE         54749 non-null  float64
 10  34-knot Wind Radii SE         54749 non-null  float64
 11  34-knot Wind Radii SW         54749 non-null  float64
 12  34-knot Wind Radii NW         54749 non-null  float64
 13  50-knot Wind Radii NE         54749 non-null  float64
 14  50-knot Wind Radii SE         54749 non-null  float64
 15  50-knot Wind Radii SW         54749 non-null  float64
 16  50-knot Wind Radii NW         54749 non-null  float64
 17  64-knot Wind Radii NE         54749 non-null  float64
 18  64-knot Wind Radii SE         54750 non-null  object
 19  64-knot Wind Radii SW         54750 non-null  object
 20  64-knot Wind Radii NW         54750 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 9.1+ MB

In [6]:
print(vessel_df.columns)
print(vessel_df.dtypes)
vessel_df.head(10)

Index(['Unnamed: 0', 'MMSI', 'BaseDateTime', 'LAT', 'LON', 'SOG', 'COG',
       'Heading', 'VesselName', 'IMO', 'CallSign', 'VesselType', 'Status',
       'Length', 'Width', 'Draft', 'Cargo', 'TransceiverClass'],
      dtype='object')
Unnamed: 0            int64
MMSI                  int64
BaseDateTime         object
LAT                 float64
LON                 float64
SOG                 float64
COG                 float64
Heading             float64
VesselName           object
IMO                  object
CallSign             object
VesselType          float64
Status              float64
Length              float64
Width               float64
Draft               float64
Cargo               float64
TransceiverClass     object
dtype: object

,Unnamed: 0,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass
0,7,369638000,2023-09-01 00:00:00,28.86447,-89.85028,19.8,303.4,301.0,IPANEMA,IMO9499929,WDE7991,60.0,0.0,53.0,9.0,2.4,70.0,A
1,11,367059890,2023-09-01 00:00:00,29.29027,-89.35788,0.1,307.0,511.0,JUDY ANN,NaN,WYR6559,31.0,0.0,19.0,7.0,NaN,31.0,A
2,13,338400219,2023-09-01 00:00:00,47.28132,-122.40204,0.0,9.4,511.0,MISCHIEF MAKER,IMO0000000,NaN,37.0,NaN,12.0,5.0,NaN,NaN,B
3,16,367007520,2023-09-01 00:00:00,27.85351,-97.17396,0.0,360.0,511.0,BROWN WATER V,NaN,WDC3414,31.0,5.0,14.0,6.0,NaN,52.0,A
4,17,316021988,2023-09-01 00:00:00,49.29496,-123.13326,0.0,275.6,511.0,CONSTITUTION,NaN,VY9477,60.0,15.0,NaN,NaN,NaN,60.0,A
5,18,367092870,2023-09-01 00:00:00,37.69436,-76.48916,0.0,360.0,511.0,KISMET,IMO0000000,WDC8777,37.0,NaN,0.0,0.0,NaN,NaN,B
6,24,316037247,2023-09-01 00:00:00,48.67161,-123.40385,5.5,113.5,511.0,MARIA,IMO0000000,MARIA,36.0,NaN,10.0,3.0,NaN,NaN,B
7,25,367016010,2023-09-01 00:00:00,29.31244,-94.80348,0.0,360.0,511.0,HENRY T,NaN,WDC3903,31.0,15.0,15.0,7.0,NaN,31.0,A
8,36,367791550,2023-09-01 00:00:00,40.71770,-74.01941,26.3,348.7,349.0,FLYER,NaN,WDJ5814,60.0,0.0,24.0,NaN,NaN,60.0,A
9,50,368210940,2023-09-01 00:00:00,40.69906,-74.04130,0.0,311.8,314.0,ANNIE MOORE,NaN,WDM4917,60.0,15.0,23.0,7.0,0.0,60.0,A

In [7]:
vessel_df.describe()

,Unnamed: 0,MMSI,LAT,LON,SOG,COG,Heading,VesselType,Status,Length,Width,Draft,Cargo
count,4.642200e+04,4.642200e+04,46422.000000,46422.000000,46422.000000,46422.000000,46422.000000,46284.000000,41103.000000,43856.000000,39741.000000,21543.000000,41085.000000
mean,3.434174e+06,3.678383e+08,35.443352,-94.067565,4.105097,208.899059,323.099759,46.797209,3.883099,56.136697,12.139503,4.631351,50.738883
std,2.640150e+06,5.750588e+07,7.515897,21.664153,7.976016,109.697351,181.313111,20.799498,5.770397,73.953166,10.229085,3.898419,20.847896
min,0.000000e+00,0.000000e+00,12.327980,-159.562910,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.754449e+06,3.669297e+08,29.751327,-117.157350,0.000000,120.400000,162.000000,31.000000,0.000000,19.000000,7.000000,2.300000,33.000000
50%,3.805386e+06,3.674463e+08,33.713785,-90.369265,0.100000,227.350000,317.000000,37.000000,0.000000,26.000000,9.000000,3.400000,52.000000
75%,5.814517e+06,3.680546e+08,41.330427,-80.077915,6.500000,299.200000,511.000000,60.000000,11.000000,46.000000,13.000000,6.300000,60.000000
max,9.285657e+06,1.072211e+09,50.003910,144.930770,102.300000,360.000000,511.000000,202.000000,15.000000,511.000000,96.000000,25.500000,232.000000

In [8]:
vessel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46422 entries, 0 to 46421
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        46422 non-null  int64
 1   MMSI              46422 non-null  int64
 2   BaseDateTime      46422 non-null  object
 3   LAT               46422 non-null  float64
 4   LON               46422 non-null  float64
 5   SOG               46422 non-null  float64
 6   COG               46422 non-null  float64
 7   Heading           46422 non-null  float64
 8   VesselName        46275 non-null  object
 9   IMO               23156 non-null  object
 10  CallSign          42138 non-null  object
 11  VesselType        46284 non-null  float64
 12  Status            41103 non-null  float64
 13  Length            43856 non-null  float64
 14  Width             39741 non-null  float64
 15  Draft             21543 non-null  float64
 16  Cargo             41085 non-null  float64
 17  TransceiverClass  46422 non-null  object
dtypes: float64(11), int64(2), object(5)
memory usage: 6.4+ MB

In [9]:
hurricane_df.shape

(56722, 21)

In [10]:
vessel_df.shape

(46422, 18)

### **Context for Determining Vessel Path**
- **Single Entry Vessels**: If a vessel has only one entry, assume it's on course or stopped if SOG (speed) is 0.
- **Vessel Stopped**: A vessel is stopped if SOG is 0.
- **Off Course**: A vessel is off course if the difference between its previous and current COG (course) exceeds a set threshold, and the data is recent (1 day or less).
- **On Course**: A vessel is on course if the difference between previous and current COG is within the acceptable threshold.
- **Turned Around**: A vessel has turned around if the previous COG is about 180Â° opposite the current COG.
- **Vessel Count**: There are about 10,613 distinct vessels in the dataset.
- **Near Port**: Assume the vessel is maintaining course if near a port.

Ships typically see COG changes of 5-10Â° within a day during normal operation, varying due to:
- **Weather**: Rough seas can cause larger changes.
- **Navigation**: More frequent course changes occur in congested waters or near ports.
- **Vessel Type**: Larger ships (tankers, cargo) tend to maintain more stable courses, while smaller vessels may change direction more often.

In [11]:
vessel_df['BaseDateTime'] = pd.to_datetime(vessel_df['BaseDateTime'])
vessel_df = vessel_df.sort_values(by=['MMSI', 'BaseDateTime']).reset_index(drop=True)  # Sort the data by vessel and timestamp
labels = []
cog_diffs = []

for i in range(1, len(vessel_df)):
    curr_vessel = vessel_df.loc[i, 'MMSI']
    prev_vessel = vessel_df.loc[i - 1, 'MMSI']
    time_diff = vessel_df.loc[i, 'BaseDateTime'] - vessel_df.loc[i - 1, 'BaseDateTime']

    if (curr_vessel == prev_vessel) and (time_diff <= pd.Timedelta('1D')):
        prev_cog = vessel_df.loc[i - 1, 'COG']
        curr_cog = vessel_df.loc[i, 'COG']
        cog_diff = abs(curr_cog - prev_cog)
        curr_sog = vessel_df.loc[i, 'SOG']

        cog_diffs.append(cog_diff)
        if curr_sog == 0:
            labels.append('stopped')
        elif abs(cog_diff - 180) <= 10:
            labels.append('turned around')
        elif cog_diff > 15:
            labels.append('veered off course')
        else:
            labels.append('stayed on course')
    else:
        labels.append('stayed on course')

if vessel_df.loc[0, 'SOG'] == 0:
    labels.insert(0, 'stopped')
else:
    labels.insert(0, 'stayed on course')

vessel_df['VesselPath'] = labels
vessel_df.head(25)

,Unnamed: 0,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass,VesselPath
0,5687902,0,2023-09-26 18:00:00,43.64547,-70.24832,0.0,211.5,233.0,NaN,NaN,NaN,0.0,15.0,14.0,4.0,1.6,51.0,A,stopped
1,948,0,2023-09-27 00:00:00,43.64547,-70.24831,0.0,261.9,233.0,NaN,NaN,NaN,0.0,15.0,14.0,4.0,1.6,51.0,A,stopped
2,1909511,0,2023-09-27 06:00:00,43.64546,-70.24833,0.0,311.0,233.0,NaN,NaN,NaN,0.0,15.0,14.0,4.0,1.6,51.0,A,stopped
3,3797682,0,2023-09-28 12:00:00,43.49559,-70.28089,10.3,231.1,234.0,NaN,NaN,NaN,0.0,15.0,14.0,4.0,1.6,51.0,A,stayed on course
4,4131,0,2023-09-29 00:00:00,43.64546,-70.24830,0.0,195.2,233.0,NaN,NaN,NaN,0.0,15.0,14.0,4.0,1.6,51.0,A,stopped
5,3923462,0,2023-09-29 12:00:00,43.64547,-70.24834,0.0,357.0,233.0,NaN,NaN,NaN,0.0,15.0,14.0,4.0,1.6,51.0,A,stopped
6,721,0,2023-09-30 00:00:00,43.64546,-70.24830,0.0,33.3,233.0,NaN,NaN,NaN,0.0,15.0,14.0,4.0,1.6,51.0,A,stopped
7,3576653,0,2023-09-30 12:00:00,43.64549,-70.24834,0.0,286.8,234.0,NaN,NaN,NaN,0.0,15.0,14.0,4.0,1.6,51.0,A,stopped
8,6232238,1,2023-09-08 18:00:00,29.79148,-89.13002,20.6,33.8,55.0,A,IMO0999999,A,60.0,15.0,88.0,18.0,2.0,90.0,A,stayed on course
9,2560,368926,2023-09-01 00:00:00,32.69105,-117.43809,17.1,341.2,340.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,35.0,A,stayed on course
10,2014664,368926,2023-09-01 06:00:00,32.65951,-118.08435,15.7,214.8,216.0,US GOVT VESSEL,IMO0004371,NaN,35.0,3.0,128.0,32.0,0.0,0.0,A,veered off course
11,3965430,368926,2023-09-04 12:00:00,32.26845,-118.22849,9.8,268.7,270.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,stayed on course
12,2001077,368926,2023-09-08 06:00:00,32.85017,-119.08428,5.5,193.2,186.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,stayed on course
13,4004053,368926,2023-09-08 12:00:00,32.59262,-118.55174,5.5,96.9,96.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,veered off course
14,2006176,368926,2023-09-09 06:00:00,32.31138,-119.13065,4.0,40.0,39.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,veered off course
15,3826027,368926,2023-09-09 12:00:00,32.28625,-119.15375,3.6,118.8,117.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,veered off course
16,3887666,368926,2023-09-21 12:00:00,32.73020,-118.02856,4.3,82.8,90.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,stayed on course
17,6044674,368926,2023-09-21 18:00:00,32.70816,-117.91855,2.5,83.4,90.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,stayed on course
18,5979466,368926,2023-09-23 06:00:00,32.93975,-118.03631,5.9,128.6,123.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,stayed on course
19,5957544,368926,2023-09-23 18:00:00,32.33558,-118.88459,17.3,233.9,237.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,veered off course
20,1778164,368926,2023-09-26 06:00:00,32.23286,-119.42437,16.2,79.0,72.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,stayed on course
21,3651582,368926,2023-09-26 12:00:00,32.60324,-117.82295,14.8,88.8,90.0,US GOVT VESSEL,IMO0004371,NaN,35.0,0.0,128.0,32.0,0.0,0.0,A,stayed on course
22,2013208,3669883,2023-09-01 06:00:00,41.34559,-72.09591,0.0,360.0,511.0,NaN,NaN,NaN,0.0,15.0,0.0,0.0,0.0,0.0,A,stayed on course
23,1071,3669883,2023-09-04 00:00:00,41.34559,-72.09593,0.0,360.0,511.0,NaN,NaN,NaN,0.0,15.0,0.0,0.0,0.0,0.0,A,stayed on course
24,3970186,3669883,2023-09-04 12:00:00,41.34561,-72.09591,0.0,360.0,511.0,NaN,NaN,NaN,0.0,15.0,0.0,0.0,0.0,0.0,A,stopped

In [12]:
value_counts = vessel_df['VesselPath'].value_counts()
value_counts

VesselPath
stayed on course     26804
stopped              12544
veered off course     6627
turned around          447
Name: count, dtype: int64

In [13]:
print(sum(cog_diffs) // len(cog_diffs))
print(len(cog_diffs))

77.0
21924